.castom-row {
    margin: 0;
}

.picture-circle {
    border: 5px solid #fff;
    padding-bottom: 20px;
}

.img-first {

    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;

    display: flex;
    text-align: center;
    color: #000000;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    font-variant: small-caps;
}

.picture-first {
    background: url("../img/свадьба.png");
    background-size: cover;
}

.picture-second {
    background: url("../img/банкет.png");
    background-size: cover;
}

.picture-third {
    background: url("../img/ресторан.png");
    background-size: cover;
}

.picture-fourth {
    background: url("../img/фуршет.png");
    background-size: cover;
}

.picture-fifth {
    background: url("../img/барбекю.png");
    background-size: cover;
}

.picture-sixth {
    background: url("../img/кофебрейки.png");
    background-size: cover;
}

.white-circle {
    background: #ffffffc2;
    width: 210px;
    height: 208px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centre-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-circle:hover {
    color: #bc2336;
    border: 2px solid #bc2336;
}

.nav-centre {
    margin-left: 23%;
}

.nav-color {
    background-color: #fff;
}

.sotials i {
    margin: 10px;
}

.icon-fab:hover {
    color: #c54051;
}

.burger-fon {
    display: flex;
    align-items: center;
    background-image: url("../img/les-10k1.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 75vh;
}

.burger-form {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 405px;
    margin: 0 auto;
}

.burger-form {
    text-align: top;
    position: relative;
}

.x {
    position: absolute;
    top: 5px;
    right: 5px;
}

.container-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: top;
    text-align: center;
}

.headline h2 {
    color: #000000;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    font-variant: small-caps;
}

.headline h3 {
    font-family: Lobster;
    padding-bottom: 5px;
}

.order-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-part-form,
.right-part-form {
    width: 50%;
    margin: 20px;
}

.coment-form {
    margin-top: 46px;
}

.input-group-btn {
    padding-top: 5px;
    text-align: center;
}


.Wow-Catering {
    width: 100%;
    height: 20vh;
    text-align: center;
}

.Wow-Catering h1 {
    font-family: Lobster;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 22px;
}

.Wow-Catering p {
    width: 62%;
    margin: 0 auto;
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
}

.contacts-black {
    background-color: #000000;
    height: 25vh;
    text-align: center;
}

.contacts-black h2 {
    margin-top: 60px;
    margin-bottom: 22px;
    padding-top: 30px;
    color: #ffffff;
    font-family: Lobster;
    font-size: 24px;
    font-weight: 400;
}

.contacts-black p {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    font-variant: small-caps;
}

.contacts-black a {
    text-decoration: none;
    color: #ffffff;
}

.contacts-black i {
    margin: 10px;
    padding-top: 10px;
}